
<h1>Problema 1 - Rails e HTML5 Canvas</h1>

<%@desenhozinhos=Desenhozinho.all%>

<table border="0" >
  <tr>
    <div type="hidden" id="ArrayId2" value=""></div>
    <th> Lista de desenhos</th>
    <td id="desNum"> Desenho->
        <%= @anumd %>
    </td> 
  </tr>
  <tr>  
    <td id="ListaDesenhos">
      <% @desenhozinhos.each do |d| %>  
        <%= link_to d.NomeDesenho, d , :onclick=>"DesenhaCanvas(#{@coords});" %> <p> 
      <% end %>
    </td>
    <td>
      <canvas id="myCanvas" width="400" height="200"  style="border:1px solid #000000;" ></canvas>
    </td>
  </tr>
  <tr>
    <td> </td>   
    <th>
      <form  href=# id="GuardaLimpaID" action="/desenhozinhos" method="post">  
        <input id="ArrayId" name='ada'  type="hidden"></input>
        <input type="submit" value="Save and Clear"></input>  
      </form>  
      <button href=# id="ApagaTudoID" type="button" value="Delete All" onclick="DeleteAll();" >
        <%= link_to 'Delete All', '/desenhozinhos/destroy' , :method=>:delete  %>            
      </button>
   </th>
</table>
